/* Styles généraux */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: white;
  margin: 0 auto;
}

div{
  background-color: #FCFFE7;
  border-radius: 6px;
  width: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  margin: 0px auto;
}

h1 {
  color: #2B3467;
  font-size: 36px;
  margin: 0;
}

h2 {
  color: #2B3467;
  font-family: 'Lora', serif;
}

p {
  color: #2B3467;
  font-family: 'Raleway', sans-serif;
}

img.img {
  height: 150px;
  width: 120px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  object-fit: cover;
}

/* Animation pour le titre */

#name_h1 {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation pour les icônes de réseaux sociaux */

.follow-links .logo {
  font-size: 32px;
  color: #2B3467;
  transition: transform 0.2s ease;
  margin: 0 10px;
  opacity: 0.7;
}

.follow-links .logo:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* Animation pour le formulaire de contact */

.contact {
  animation: slideInFromLeft 2s ease;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.button-link {
  margin: 20px;
  padding: 20px;
}

/* Animation pour le bas de page */

footer {
  color: #2B3467;
  font-size: 14px;
  animation: fadeIn 2s ease;
}

/* Styles pour le bouton du formulaire */

.button-link input[type="submit"] {
  background-color: #FCFFE7;
  color: #2B3467;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px 20px;
}

.button-link input[type="submit"]:hover {
  background-color: #2B3467;
  color: #FCFFE7;
  transform: scale(1.05);
}
